##### task1

In [2]:
import pandas as pd
import sqlite3 

with sqlite3.connect("data/chinook.db") as connection:
    df_customers = pd.read_sql(
        "SELECT * FROM customers",
        con=connection
    )
    # df_customers = pd.read_sql_table(
    #     table_name="customers",
    #     con=connection
    # )
df_customers.head(10)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4

##### task2

In [3]:
df_irisjson = pd.read_json("data/iris.json")
print(df_irisjson.shape)
print(df_irisjson.columns)

(150, 5)
Index(['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species'], dtype='object')

##### task3

In [4]:
import openpyxl, xlrd
df_excel = pd.read_excel("data/titanic.xlsx", sheet_name="Sheet1")
print(df_excel.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

##### task4

In [5]:
df_parquet = pd.read_parquet("data/flights")
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6729125 entries, 0 to 6729124
Columns: 109 entries, Year to Div5TailNum
dtypes: object(109)
memory usage: 5.5+ GB

##### task5

In [6]:
df_csv = pd.read_csv("data/movie.csv")
df_csv.sample(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2220,Color,Richard Donner,52.0,121.0,503.0,83.0,John Wood,2000.0,NaN,Adventure|Comedy|Drama|Fantasy,...,185.0,English,USA,PG-13,20000000.0,1985.0,92.0,7.0,2.35,0
2246,Color,Mark Neveldine,150.0,96.0,83.0,926.0,Clifton Collins Jr.,26000.0,13630226.0,Action|Crime|Sci-Fi|Thriller,...,223.0,English,USA,R,20000000.0,2009.0,968.0,6.2,1.85,0
3488,Color,Rachel Perkins,33.0,88.0,3.0,38.0,Magda Szubanski,46.0,110029.0,Comedy|Drama|Musical,...,31.0,English,Australia,PG-13,6500000.0,2009.0,46.0,6.3,2.35,479
2597,Color,Brian Gibson,19.0,118.0,13.0,2.0,Virginia Capers,90.0,39100956.0,Biography|Drama|Music,...,59.0,English,USA,R,NaN,1993.0,22.0,7.2,1.85,0
369,Color,Steven Spielberg,281.0,146.0,14000.0,681.0,William Hurt,3000.0,78616689.0,Adventure|Drama|Sci-Fi,...,2153.0,English,USA,PG-13,100000000.0,2001.0,882.0,7.1,1.85,11000
4543,Color,Tommy Oliver,6.0,90.0,66.0,734.0,Ruby Dee,904.0,NaN,Drama,...,3.0,English,USA,R,1000000.0,2013.0,782.0,7.1,NaN,181
2517,Color,Guillermo del Toro,406.0,112.0,0.0,250.0,Maribel Verdú,634.0,37623143.0,Drama|Fantasy|War,...,1083.0,Spanish,Spain,R,13500000.0,2006.0,269.0,8.2,1.85,27000
777,Color,Harold Becker,79.0,111.0,17.0,652.0,Miko Hughes,13000.0,32940507.0,Action|Crime|Drama|Thriller,...,127.0,English,USA,R,60000000.0,1998.0,968.0,6.1,2.35,0
2496,Color,Jack Smight,41.0,91.0,22.0,255.0,Jan-Michael Vincent,669.0,NaN,Sci-Fi,...,71.0,English,USA,PG,17000000.0,1977.0,642.0,5.2,2.35,903
1838,Color,Michael Cristofer,93.0,118.0,49.0,155.0,Gregory Itzin,11000.0,16252765.0,Drama|Mystery|Romance|Thriller,...,181.0,English,France,R,42000000.0,2001.0,216.0,6.0,2.35,3000